<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= planet.name %></title>
  </head>
  <body>
    <h1><%= planet.name %></h1> 
    <form action="/planets/<%=planet._id%>?_method=DELETE" method="POST">
  <button type="submit">Delete <%= planet.name %></button>
</form>
<a href="/planets/<%= planet._id %>/edit">Edit <%= planet.name %></a>
   </body><br>
<a href="/planets">Check Your Solar System</a>
<a href="/">Home</a>
</html>

